html
  head
    link(rel="stylesheet", href="style.css")
    link(href="https://fonts.googleapis.com/css?family=Nunito:400,300,700", rel="stylesheet", type="text/css")
    script(src="jquery-3.1.1.min.js")
    script(src="timer.js")
  body
    div.grid
    header 
      img(src="img/banner01.png", alt="").logo
    div.text 1 days 24 hours 60 minutes 60 seconds
    
